EGovMessaging.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
	targetNamespace="http://schemas.egov.bg/messaging/v1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
	xmlns:duri="http://ereg.egov.bg/segment/0009-000001"
	xmlns:msg="http://schemas.egov.bg/messaging/v1">
	<xsd:complexType name="DocumentRegistrationRequestType">
		<xsd:sequence>
			<xsd:element name="Document" type="msg:DocumentType" />
			<xsd:element name="Comment" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Коментар, свързан с изпращането</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Message">
		<xsd:annotation>
			<xsd:documentation>Унифицирано съобщение  за обмен на неструктурирани документи и свързани с тях операции</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header">
					<xsd:annotation>
						<xsd:documentation>Заглавна част</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Version" type="xsd:string" />
							<xsd:element name="MessageType" type="msg:MessageType" />
							<xsd:element name="MessageDate" type="xsd:dateTime" />
							<xsd:element name="Sender" type="msg:EntityNodeType">
								<xsd:annotation>
									<xsd:documentation>Данните съвпадат с тези от директорията</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Recipient" type="msg:EntityNodeType">
								<xsd:annotation>
									<xsd:documentation>Данните съвпадат с тези от директорията</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="MessageGUID" type="msg:GUIDType" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Body">
					<xsd:annotation>
						<xsd:documentation> Тяло на съобщението </xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:choice>
							<xsd:element name="DocumentRegistrationRequest" type="msg:DocumentRegistrationRequestType" />
							<xsd:element name="DocumentStatusResponse" type="msg:DocumentStatusResponseType" />
							<xsd:element name="DocumentStatusRequest" type="msg:DocumentStatusRequestType" />
							<xsd:element name="Error" type="msg:ErrorMessageType" />
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="ds:Signature" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="EntityNodeType">
		<xsd:sequence>
			<xsd:element name="Identifier" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>ЕИК на участник от директорията Информационно обслужване</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AdministrativeBodyName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Име на участник от директорията (Информационно обслужване)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GUID" type="msg:GUIDType">
				<xsd:annotation>
					<xsd:documentation>GUID на участник от директорията (Информационно обслужване)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<!-- Описание на възел/организация, обменяща информация-->
		<!-- Уникален идентификатор ID или GUID -->
		<!-- Име на организация -->
	</xsd:complexType>
	<xsd:simpleType name="MessageType">
		<xsd:annotation>
			<xsd:documentation> Тип на съобщението </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MSG_DocumentRegistrationRequest" />
			<xsd:enumeration value="MSG_DocumentStatusResponse" />
			<xsd:enumeration value="MSG_DocumentStatusRequest" />
			<xsd:enumeration value="MSG_Error" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocumentStatusType">
		<xsd:annotation>
			<xsd:documentation> Тип за текущото състояние на документа при обработката на документа </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DS_WAIT_REGISTRATION" />
			<xsd:enumeration value="DS_REGISTERED" />
			<xsd:enumeration value="DS_STOPPED" />
			<xsd:enumeration value="DS_CLOSED" />
			<xsd:enumeration value="DS_NOT_FOUND" />
			<xsd:enumeration value="DS_ALREADY_RECEIVED" />
			<xsd:enumeration value="DS_REJECTED" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ServiceItemType">
		<xsd:annotation>
			<xsd:documentation>Тип за описание на услуга</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ServiceName" type="xsd:string" />
			<xsd:element name="ServiceType" type="xsd:string" />
			<xsd:element name="ServiceCode" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CorrespondentType">
		<xsd:annotation>
			<xsd:documentation>Тип за кореспондент</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CorName" type="xsd:string" />
			<xsd:element name="CorCity" type="xsd:string" />
			<xsd:element name="CorAddress" type="xsd:string" minOccurs="0" />
			<xsd:element name="CorEGN" type="xsd:string" minOccurs="0" />
			<xsd:element name="CorIDCard" type="xsd:string" minOccurs="0" />
			<xsd:element name="CorBULSTAT" type="xsd:string" minOccurs="0" />
			<xsd:element name="CorEMail" type="xsd:string" minOccurs="0" />
			<xsd:element name="CorPhone" type="xsd:string" minOccurs="0" />
			<xsd:element name="CorMobilePhone" type="xsd:string" minOccurs="0" />
			<xsd:element name="CorMOL" type="xsd:string" minOccurs="0" />
			<xsd:element name="CorComment" type="xsd:string" minOccurs="0" />
			<xsd:element name="CorKind" type="msg:CorrespondentKindType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AdditionalDataType">
		<xsd:annotation>
			<xsd:documentation>Допълнителни данни</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="xsd:anyType" />
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AttachmentFileType">
		<xsd:sequence>
			<xsd:element name="AttFileName" type="xsd:string" />
			<xsd:element name="AttBody" type="xsd:base64Binary" />
			<xsd:element name="AttComment" type="xsd:string" minOccurs="0" />
			<xsd:element name="AttMIMEType" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentType">
		<xsd:annotation>
			<xsd:documentation>Тип за пренос на документ</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DocID" type="msg:DocumentIdentificationType">
				<xsd:annotation>
					<xsd:documentation>Съдържа Номер или DocumentURI, с които е регистриран документа при изпращача</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocParentID" type="msg:DocumentIdentificationType" minOccurs="0" />
			<xsd:element name="DocKind" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Вид документ - молба, жалба</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocCorrespondentList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Списък кореспонденти - незадължителен</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Corespondent" type="msg:CorrespondentType" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DocAttachmentList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Списък с прикачени файлове</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Attachment" type="msg:AttachmentFileType" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DocAbout" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Относно (Subject)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocService" type="msg:ServiceItemType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Услуга - за бъдещо използване</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocComment" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Допълнителен коментар към документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocAddData" type="msg:AdditionalDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Допълнителни данни от типа Ключ=Стоойност</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocReqDateClose" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Срок за обработка на документ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocAttentionTo" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Служител, на вниманието на който трябва да се насочи документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ds:Signature" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentStatusResponseType">
		<xsd:annotation>
			<xsd:documentation>Тип за потвърждение за завеждане</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DocID" type="msg:DocumentIdentificationType">
				<xsd:annotation>
					<xsd:documentation>Съдържа Номер или DocumentURI, с които е регистриран документа при получателя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocRegStatus" type="msg:DocumentStatusType">
				<xsd:annotation>
					<xsd:documentation>Статус на документа - очаква регистрация, в обработка, спрян, приключен, няма такъм документ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RejectionReason" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Опционален елемент, който съдържа причина за отказ от регистрация в свободен текст при статус DS_Rejected</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocExpectCloseDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Очаквана дата за приключване на обработка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocAddData" type="msg:AdditionalDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Допълнителни данни от типа Ключ=Стоойност</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentStatusRequestType">
		<xsd:annotation>
			<xsd:documentation> Тип за запитване на текущото състояние на документа </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DocID" type="msg:DocumentIdentificationType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentIdentificationType">
		<xsd:annotation>
			<xsd:documentation>Тип за идентификация на документ</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:element name="DocumentNumber" type="msg:DocumentNumberType" />
				<xsd:element name="DocumentURI" type="duri:DocumentURI" />
			</xsd:choice>
			<xsd:element name="DocumentGUID" type="msg:GUIDType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentNumberType">
		<xsd:annotation>
			<xsd:documentation>Тип за номер документ - стар</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DocNumber" type="xsd:string" />
			<xsd:element name="DocDate" type="xsd:date" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="GUIDType">
		<xsd:annotation>
			<xsd:documentation>Тип за GUID</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CorrespondentKindType">
		<xsd:annotation>
			<xsd:documentation>Тип за вида на Кореспондента - Corr_Аpplicant  = заявител; Corr_Other - обикновен кореспондент</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Corr_Applicant" />
			<xsd:enumeration value="Corr_Other" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ErrorMessageType">
		<xsd:annotation>
			<xsd:documentation>Тип за съобщение - грешка възникнало в процеса на обработка на съобщение</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MessageGUID" type="msg:GUIDType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GUID на съобщение, което  е предизвикало грешката</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ErrorType" type="msg:ErrorKindType">
				<xsd:annotation>
					<xsd:documentation>Вид на грешката - Еxternal - предизвикана от неточности в съобщението, Internal - проблем в получаващата страна</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ErrorDescription" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Описание на грешката</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ErrorKindType">
		<xsd:annotation>
			<xsd:documentation>Тип за вид на грешката - Еxternal (грешка в формат съобщение); Internal (вътрешна грешка . няма връзка БД)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ERR_INTERNAL" />
			<xsd:enumeration value="ERR_EXTERNAL" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
